.contact__svg {
    fill: currentColor;
  
    margin-right: 10px;
  }
  .contact{
    display: flex;
    margin-left: auto;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and ( min-width:1200px) {
      display: flex;
    }
  }
  .social__item:not(:last-child) {
    margin-right: 10px;
  }
  .social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
  }
  .social__link {
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__link:hover,
  .social__link:focus {
    color: var(--primary-white-color);
    background: var(--text-hover-color);
  }
  .social__svg {
    height: 20px;
    width: 20px;
    fill: currentColor;
  }
  