.footer__logo {
    color: var(--text-hover-color);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
  }
  .header__logo {
    color: var(--text-hover-color);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    display: flex;
    
  }
  .step{
    margin-right: 93px; 
   }
   
   .header__nav-stud {
     color: var(--primary-white-color);
   }
   .header__studio {
     color: var(--primary-text-color);
   }