.menu .current {
    position: relative;
    color: var(--text-hover-color);
  }
  .menu .current::after {
    position: absolute;
    bottom: -31px;
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--text-hover-color);
  }
  .menu {
    display: none;

    @media screen and(min-width:768px) {
      display: flex;
       margin-left: auto;
    }
    
   

  }
  
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  