.comand {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .team__member {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .text-acent-com {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-acent-color);
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .text-acent-mail {
    color: var(--text-acent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
  }
  
  .text-acent-mail:focus,
  .text-acent-mail:hover {
    color: var(--text-hover-color);
  }
  .comand__title {
    margin-bottom: 50px;
  }
  
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .team__list {
    background-color: var(--primary-white-color);
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 4 * 30px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__man {
    padding: 30px 32px;
  }
  