.features {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .features__container {
    display: flex;
    align-self: start;
  }
  .features__box {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .features__icon {
    width: 70px;
    height: 70px;
  }
  .features__mini:not(:last-child) {
    margin-right: 30px;
  }