.text-acent-mail {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .text-acent-mail:focus,
  .text-acent-mail:hover {
    color: var(--text-hover-color);
  }
  
  .text-acent-mail {
    display: flex;
    align-items: center;
  }
  
  
  .footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer__content{
    
    @media screen and (min-width:480px) {
   text-align: center;
    }

  }
  
  .footer__adress {
    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: auto;
    
    @media screen and (min-width:480px) {
      text-align: center;
       }
    
   
  }
  .footer__adress-mail {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  
  
  
  .footer__item:not(:last-child) {
    margin-right: 10px;
  }
  .footer__list {
    


    @media screen and (min-width:480px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media screen and (min-width:768px) {
      display: flex;
      align-items: center;

    }
    @media screen and (min-width:1200px) {
      display: flex;
      align-items: center;

    }
  }
  .footer-box{
   
    @media screen and (min-width:480px) {

    }
    @media screen and (min-width:768px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
    @media screen and (min-width:1200px) {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      
    }

  }
  
  .footer__svg {
    width: 20px;
    height: 20px;
    fill: var(--primary-white-color);
  }
  .footer__icon {
    
    @media screen and (min-width:480px) {
      text-align: center;
      margin-top: 60px;
    }
    @media screen and (min-width:768px) {
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       margin-top: 0;
    }
    @media screen and (min-width:1200px) {
      margin-left: 70px;
    }
  }